// === Button === //
.button {
  display: inline-block;
  padding: .5rem 1rem;

  border: .1rem solid black;
  border-color: currentColor;
  border-radius: 100rem;
  text-align: center;

  &--no-round {
    border-radius: 0;
  }
  @include hover-grow;
}



// // =-= Button =-= //
// .btn {
//   display: inline-block;
//   position: relative;
//   margin: auto;
//   padding: 1rem 2rem;
//   width: max-content;
//   background-color: transparent;
//   border: .1rem solid;
//   border-color: transparent;
//   border-radius: .25rem;
//   color: inherit;
//   cursor: pointer;
//   font-size: 1rem;
//   text-align: center;
//   text-decoration: none;
//   vertical-align: middle;
//   white-space: nowrap;
//   @include hover-grow;

//   &--disabled {
//     opacity: .65;
//     pointer-events: none;
//   }

//   &--round {
//     border-radius: 100rem;
//   }
//   @each $color, $value in $colors {
//     &-#{$color} {
//       background-color: $value;
//       border-color: darken($value, 10%);
//       color: white;
//       &:hover,
//       &:focus,
//       &:active {
//         background-color: darken($value, 10%);
//         border-color: darken($value, 20%);
//       }
//     }
//   }

//   @each $color, $value in $colors {
//     &-outline-#{$color} {
//       background-color: transparent;
//       border-color: $value;
//       color: $value;
//       &:hover,
//       &:focus,
//       &:active {
//         border-color: darken($value, 10%);
//         color: darken($value, 10%);
//       }
//     }
//   }
//   &-outline {
//     background-color: transparent;
//     border-color: currentColor;
//     color: currentColor;
//   }
// }

// // Button Sizes


// // Button Row
// .button-group {
//   display: flex;
//   flex-direction: row;
//   justify-content: space-between;
//   align-content: space-between;
//   flex-wrap: wrap;
//   width: 100%;
//   .btn {
//     flex-grow: 1;
//     margin: .5rem;
//   }
// }
