// === Social === //

/*ul*/.social {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: center;
  font-size: 1.5rem;

  li {
    &:not(:last-of-type) {
      margin-right: .5em;
    }
  }
  a {
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    width: 2em;
    height: 2em;
    // border: 1px solid currentColor;
    // border-radius: 100rem;
    @include hover-grow(1.25, 300ms);
  }
  .label {
    @include is-invisible;
  }
}

