// === Section === //
.section {
  position: relative;
  overflow: hidden;
  padding: 2rem 0;
  &__content {
    position: relative;
  }
  
  &__background {
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
    &--image {
      background-position: center center;
      background-size: cover;
    }
    &--video {
      max-width: 100vw;
      min-width: 100vw;
      height: 100vh;
      // Ensures poster is roughly same size as video
      object-fit: cover;
    }
  }
  &--cover {
    height: 100vh;
  }
  &--dark {
    background-color: #333;
    color: #eee;
    .section__background + .section__content {
      filter: drop-shadow(.1rem .2rem .25rem #333);
    }
  }
  &--light {
    background-color: white;
    color: black;
  }
}
