<!DOCTYPE html>
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(http-equiv='X-UA-Compatible', content='ie=edge')
    meta(name='description', content='Loving Care for your Pets! Around Bellmore & Merrick, NY. (516) 418 - PAWS')
    meta(name='keywords', content='Dog Walker, Bellmore, Merrick, Nassau, Dog, Pet, Sitting')
    title Pax Paws Pet Services
    link(rel='stylesheet', href='./css/main.css')
    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Luckiest+Guy|Roboto|Roboto+Slab')
    script(src='./js/main.js', defer)
  body
    .wrapper
      nav.nav
        .branding
        .nav
          ul
            li
              a(href="./index.html") Home
            li
              a(href="./team.html") The Team
      header.header
        .carousel

      main.main
        section.benefits
          h1 ~ Your Pets are Our Family ~
          .container-responsive
            .benefits__care.benefit
              h2 Personalized Care
              p We really treat your pets as though they were our own family!
            .benefits__health.benefit
              h2 Happy, Healthy Pets
              p We'll help take care of and exercise your pets as they need!
            .benefits__insurance.benefit
              h2 Safe & Insured
              p Your pets' safety is our priority! <wbr> We're very responsible and we're also insured, just in case!
        section.about
          h1 About Us
        section.services
          h1 Services
          h2 Walks & Runs
          p 30 Minute: <u>$25</u>
          p 60 Minute: <u>$35</u>
          h2 Visits
          p 30 Minute: <u>$25</u>
          p 60 Minute: <u>$35</u> 
          h2 Sitting
          p Overnight: <u>$40</u>

        section.testimonials
        section.contact-form
        section.form
        section.gallery
      
      footer.footer

