<!DOCTYPE html>
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(http-equiv='X-UA-Compatible', content='ie=edge')
    meta(name='description', content='Loving Care for your Pets! Around Bellmore & Merrick, NY. (516) 418 - PAWS')
    meta(name='keywords', content='Dog Walker, Bellmore, Merrick, Nassau, Dog, Pet, Sitting')
    title Pax Paws Pet Services
    link(rel='stylesheet', href='./css/main.css')
    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Luckiest+Guy|Roboto')
    script(src='./js/main.js', defer)
  body
    .wrapper
      nav.nav
        .branding
        .nav
          ul
            li
              a(href="./index.html") Home
            li
              a(href="./team.html") The Team
      header.header
      main.main
      footer.footer

