<!DOCTYPE html>
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(http-equiv='X-UA-Compatible', content='ie=edge')
    meta(name='description', content='Loving Care for your Pets! Around Bellmore & Merrick, NY. (516) 418 - PAWS')
    meta(name='keywords', content='Dog Walker, Bellmore, Merrick, Nassau, Dog, Pet, Sitting')
    title Pax Paws Pet Services
    link(rel='stylesheet', href='./css/main.css')
    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Luckiest+Guy|Roboto|Roboto+Slab|Roboto+Mono')
    script(src='./js/main.js', defer)
  body
    .wrapper
      nav.navbar
        .branding
          h1 Pax Paws
        ul.nav
          li
            a(href='./index.html') Home
          li
            a(href='./team.html') The Team
        .nav-menu
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M0 0h24v24H0z" fill="none"/><path d="M3 18h18v-2H3v2zm0-5h18v-2H3v2zm0-7v2h18V6H3z"/></svg>
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z"/><path d="M0 0h24v24H0z" fill="none"/></svg>
      header.header
        .carousel

      section.benefits
        h2.benefits__title ~ Your Pets, Our Family ~
        .benefits__care.benefit
          h3 Personalized Care
          p We really treat your pets as though they were our own family!
        .benefits__health.benefit
          h3 Happy, Healthy Pets
          p We'll help take care of and exercise your pets as they need!
        .benefits__insurance.benefit
          h3 Safe &amp; Insured
          p Your pets' safety is our priority! <wbr> We're very responsible and we're also insured, just in case!
      section.about
        h2 About Us
        p Pax Paws was founded back in 2017 by <strong>Julian</strong> and <strong>Valeria</strong>, avid pet lovers!
        p We are professionals and animal lovers who will make sure your dogs, cats, and other pets are <strong>safe</strong>, <strong>happy</strong>, and <strong>well-cared for</strong>!
        p Give us a call or fill out the form to have us help for
          ul 
            li your next overtime shift,
            li a family reunion,
            li a nice vacation,
            li or any other time you're busy!
        a.phone(href='tel:+15164187297') (516) 418 - PAWS
        a.button(href='team.html', target='_blank',) More About Us!
      section.services
        h2 Services
        h3 Walks &amp; Runs
        p 30 Minute: <u>$25</u>
        p 60 Minute: <u>$35</u>
        h3 Visits
        p 30 Minute: <u>$25</u>
        p 60 Minute: <u>$35</u> 
        h3 Sitting
        p Overnight Sitting: <u>$40</u>


      section.testimonials
        h2 What's Everyone Saying?
        .testimonials__carousel
          blockquote
              p I called Pax Paws last minute on holiday weekend. I needed a dog sitter for my Bernese Mountain Dog when all the doggie day care centers were full. I gave Julian a chance, enticed by his caring pictures and story acknowledging his entrepreneurial endeavors.
              p Julian answered my first call enthusiastically, flexible to my requests. He surpassed my expectations with kindness, intelligence, and wherewithal. Julian and Valeria are compassionate, genuine, and a perfect fit to my needs. Very reasonable prices for exceptional services! Will have me employing them in the future.
              cite --Jasmine from Massapequa
      section.contact-form
        form(data-netlify='true')
          h2 Talk to us!
          label(for='name') What's your name?
          input(type='text', name='name', required)

          label(for='phone') What's your phone?
          input(type='text', name='phone', required)

          label(for='location') Where are you located?
          input(type='text', name='location', required)

          label(for='service') What do you need?
          textarea(name='service', cols='30', rows='10')

          input(type='submit', value='Submit')
      section.gallery
      footer.footer

