html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(http-equiv='X-UA-Compatible', content='ie=edge')
    meta(name='description', content='Loving Care for your Pets! Around Bellmore & Merrick, NY. (516) 418 - PAWS')
    meta(name='keywords', content='Dog Walker, Bellmore, Merrick, Nassau, Dog, Pet, Sitting')
    title Pax Paws Pet Services
    link(rel='stylesheet', href='./css/main.css')
    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Material+Icons|Luckiest+Guy|Roboto|Roboto+Slab|Roboto+Mono')
  body
    .wrapper
      nav.navbar
        .nav-menu
          input(class="menu-toggle-input" id="menu-toggle" type="checkbox")
          label(class="menu-toggle-label" for="menu-toggle")
            i(class="open-menu material-icons md-48") menu
            i(class="close-menu material-icons md-48") close
          .nav-menu-list
            h2.nav-menu-title -&nbsp;Menu&nbsp;-
            ul.nav-menu-ul
              li
                a(href='./index.html') Home
              li
                a.nav-menu-cta(href='./team.html') The Team
            .nav-menu-cta
              a(href="tel:+15164187297") 
                span (516) 418 - PAWS
        .branding
          h1 Pax Paws
          h3 -&nbsp;Pet Services&nbsp;-
        ul.nav-list
          li
            a(href='./index.html') Home
          li
            a(href='./team.html') The Team
        .nav-cta 
          a(href="tel:+15164187297") (516) 418 - PAWS
      header.header