//=-=-=-=-=-= Base Variables =-=-=-=-=-=//

// =-=-= Text Formatting =-=-= //

//Font Imports
// @import url('https://fonts.googleapis.com/css?family=Roboto+Slab');

//Font Stack 
$fontFamily-primary:          'Roboto Slab', sans-serif       !default;
$fontFamily-secondary:        'Lato', sans-serif              !default;
$fontFamily-tertiary:         'Monserrat', sans-serif         !default;
$fontFamily-monospace:        'Menlo', 'Consolas', monospace  !default;

//Font Sizes
$fontSize-inherit:            inherit                         !default;
$fontSize-base:               1rem                            !default;
$fontSize-00:                 6.00 * $fontSize-base           !default;
$fontSize-0:                  4.00 * $fontSize-base           !default;
$fontSize-1:                  3.00 * $fontSize-base           !default;
$fontSize-2:                  2.50 * $fontSize-base           !default;
$fontSize-3:                  2.00 * $fontSize-base           !default;
$fontSize-4:                  1.50 * $fontSize-base           !default;
$fontSize-5:                  1.25 * $fontSize-base           !default;
$fontSize-6:                  1.00 * $fontSize-base           !default;
$fontSize-7:                  0.75 * $fontSize-base           !default;

$fontSize-small:              0.85 * $fontSize-base           !default;
$fontSize-medium:             1.00 * $fontSize-base           !default;
$fontSize-large:              1.15 * $fontSize-base           !default;

// =-=-= Color Palette =-=-= //

              // Feel Free to edit colors any time! //

//Main Colors
$color-primary:               hsla(240, 100%, 50%, 1.0)       !default;
$color-secondary:             hsla(270, 100%, 50%, 1.0)       !default;
$color-accent1:               hsla(000, 100%, 50%, 1.0)       !default;
$color-accent2:               hsla(030, 100%, 50%, 1.0)       !default;
$color-accent3:               hsla(060, 100%, 50%, 1.0)       !default;
$color-accent4:               hsla(000, 100%, 50%, 1.0)       !default;
$color-gray:                  rgba(128, 128, 128, 1.0)        !default;


$color-primary-100:           lighten($color-primary, 40%);
$color-primary-200:           lighten($color-primary, 30%);
$color-primary-300:           lighten($color-primary, 20%);
$color-primary-400:           lighten($color-primary, 10%);
$color-primary-500:           $color-primary;
$color-primary-600:           darken($color-primary, 10%);
$color-primary-700:           darken($color-primary, 20%);
$color-primary-800:           darken($color-primary, 30%);
$color-primary-900:           darken($color-primary, 40%);
$color-secondary-100:         lighten($color-secondary, 40%);
$color-secondary-200:         lighten($color-secondary, 30%);
$color-secondary-300:         lighten($color-secondary, 20%);
$color-secondary-400:         lighten($color-secondary, 10%);
$color-secondary-500:         $color-secondary;
$color-secondary-600:         darken($color-secondary, 10%);
$color-secondary-700:         darken($color-secondary, 20%);
$color-secondary-800:         darken($color-secondary, 30%);
$color-secondary-900:         darken($color-secondary, 40%);
$color-accent1-100:           lighten($color-accent1, 40%);
$color-accent1-200:           lighten($color-accent1, 30%);
$color-accent1-300:           lighten($color-accent1, 20%);
$color-accent1-400:           lighten($color-accent1, 10%);
$color-accent1-500:           $color-accent1;
$color-accent1-600:           darken($color-accent1, 10%);
$color-accent1-700:           darken($color-accent1, 20%);
$color-accent1-800:           darken($color-accent1, 30%);
$color-accent1-900:           darken($color-accent1, 40%);
$color-accent2-100:           lighten($color-accent2, 40%);
$color-accent2-200:           lighten($color-accent2, 30%);
$color-accent2-300:           lighten($color-accent2, 20%);
$color-accent2-400:           lighten($color-accent2, 10%);
$color-accent2-500:           $color-accent2;
$color-accent2-600:           darken($color-accent2, 10%);
$color-accent2-700:           darken($color-accent2, 20%);
$color-accent2-800:           darken($color-accent2, 30%);
$color-accent2-900:           darken($color-accent2, 40%);
$color-accent3-100:           lighten($color-accent3, 40%);
$color-accent3-200:           lighten($color-accent3, 30%);
$color-accent3-300:           lighten($color-accent3, 20%);
$color-accent3-400:           lighten($color-accent3, 10%);
$color-accent3-500:           $color-accent3;
$color-accent3-600:           darken($color-accent3, 10%);
$color-accent3-700:           darken($color-accent3, 20%);
$color-accent3-800:           darken($color-accent3, 30%);
$color-accent3-900:           darken($color-accent3, 40%);
$color-accent4-100:           lighten($color-accent4, 40%);
$color-accent4-200:           lighten($color-accent4, 30%);
$color-accent4-300:           lighten($color-accent4, 20%);
$color-accent4-400:           lighten($color-accent4, 10%);
$color-accent4-500:           $color-accent4;
$color-accent4-600:           darken($color-accent4, 10%);
$color-accent4-700:           darken($color-accent4, 20%);
$color-accent4-800:           darken($color-accent4, 30%);
$color-accent4-900:           darken($color-accent4, 40%);
$color-gray-100:              lighten($color-gray, 40%);
$color-gray-200:              lighten($color-gray, 30%);
$color-gray-300:              lighten($color-gray, 20%);
$color-gray-400:              lighten($color-gray, 10%);
$color-gray-500:              $color-gray;
$color-gray-600:              darken($color-gray, 10%);
$color-gray-700:              darken($color-gray, 20%);
$color-gray-800:              darken($color-gray, 30%);
$color-gray-900:              darken($color-gray, 40%);

$color-palette: (

  color-primary-100:          $color-primary-100,
  color-primary-300:          $color-primary-300,
  color-primary-500:          $color-primary-500,
  color-primary-700:          $color-primary-700,
  color-primary-900:          $color-primary-900,

  color-secondary-100:        $color-secondary-100,
  color-secondary-300:        $color-secondary-300,
  color-secondary-500:        $color-secondary-500,
  color-secondary-700:        $color-secondary-700,
  color-secondary-900:        $color-secondary-900,

  color-accent1-100:          $color-accent1-100,
  color-accent1-300:          $color-accent1-300,
  color-accent1-500:          $color-accent1-500,
  color-accent1-700:          $color-accent1-700,
  color-accent1-900:          $color-accent1-900,

  color-accent2-100:          $color-accent2-100,
  color-accent2-300:          $color-accent2-300,
  color-accent2-500:          $color-accent2-500,
  color-accent2-700:          $color-accent2-700,
  color-accent2-900:          $color-accent2-900,

  color-accent3-100:          $color-accent3-100,
  color-accent3-300:          $color-accent3-300,
  color-accent3-500:          $color-accent3-500,
  color-accent3-700:          $color-accent3-700,
  color-accent3-900:          $color-accent3-900,

  color-accent4-100:          $color-accent4-100,
  color-accent4-300:          $color-accent4-300,
  color-accent4-500:          $color-accent4-500,
  color-accent4-700:          $color-accent4-700,
  color-accent4-900:          $color-accent4-900,

  color-gray-100:             $color-gray-100,
  color-gray-200:             $color-gray-200,
  color-gray-300:             $color-gray-300,
  color-gray-400:             $color-gray-400,
  color-gray-500:             $color-gray-500,
  color-gray-600:             $color-gray-600,
  color-gray-700:             $color-gray-700,
  color-gray-800:             $color-gray-800,
  color-gray-900:             $color-gray-900
  
);

// =-=-= Sizing Values =-=-= //

//Breakpoints
$breakpoint-xs:               0px;
$breakpoint-sm:               600px                           !default;
$breakpoint-md:               900px                           !default;
$breakpoint-lg:               1200px                          !default;
$breakpoint-xl:               1600px                          !default;

$breakpoints: (
  "": $breakpoint-xs,
  '-sm': $breakpoint-sm,
  '-md': $breakpoint-md, 
  '-lg': $breakpoint-lg,
  '-xl': $breakpoint-xl
);

:root {
  @each $color, $value in $color-palette {
    --#{$color}: #{$value};
  }
}
