:root {
  --color-primary-100: #ccccff;
  --color-primary-300: #6666ff;
  --color-primary-500: blue;
  --color-primary-700: #000099;
  --color-primary-900: #000033;
  --color-secondary-100: #e6ccff;
  --color-secondary-300: #b366ff;
  --color-secondary-500: #8000ff;
  --color-secondary-700: #4d0099;
  --color-secondary-900: #1a0033;
  --color-accent1-100: #ffcccc;
  --color-accent1-300: #ff6666;
  --color-accent1-500: red;
  --color-accent1-700: #990000;
  --color-accent1-900: #330000;
  --color-accent2-100: #ffe6cc;
  --color-accent2-300: #ffb366;
  --color-accent2-500: #ff8000;
  --color-accent2-700: #994d00;
  --color-accent2-900: #331a00;
  --color-accent3-100: #ffffcc;
  --color-accent3-300: #ffff66;
  --color-accent3-500: yellow;
  --color-accent3-700: #999900;
  --color-accent3-900: #333300;
  --color-accent4-100: #ffcccc;
  --color-accent4-300: #ff6666;
  --color-accent4-500: red;
  --color-accent4-700: #990000;
  --color-accent4-900: #330000;
  --color-gray-100: #e6e6e6;
  --color-gray-200: #cdcdcd;
  --color-gray-300: #b3b3b3;
  --color-gray-400: #9a9a9a;
  --color-gray-500: gray;
  --color-gray-600: #676767;
  --color-gray-700: #4d4d4d;
  --color-gray-800: #343434;
  --color-gray-900: #1a1a1a; }

body {
  margin: 0;
  display: grid;
  font-family: 'Roboto Slab', sans-serif; }

h1, h2, h3 {
  margin: .25rem 0;
  font-family: 'Luckiest Guy', serif; }

.container-responsive {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center; }
  @media screen and (min-width: 900px) {
    .container-responsive {
      flex-direction: row; } }

.benefits .benefit {
  background-color: yellow; }
