// === Base === //
*, *::before, *::after {
  box-sizing: inherit;
  vertical-align: middle;
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
  @include hfa {
    color: inherit;
    text-decoration: none;
  }
}


h1, h2, h3, h4, h5, h6, p, address {
  margin-top: 0;
  margin-bottom: 1rem;
}

img {
  max-width: 100%;
}


@media (max-width: 320px) {
  html, body {
    min-width: 320px;
  }
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
