/*!
 * Pax Paws Stylesheet
 * 
 * Copyright 2017-2019 Pax Paws
 * 
 * By Julian Hecker
 */


// === Abstracts === //
@import 'abstracts/variables';
@import 'abstracts/functions';
@import 'abstracts/mixins';
@import 'abstracts/overrides';


// === Libraries === //
@import 'libraries/bootstrap/scss/bootstrap-reboot.scss';
@import 'libraries/bootstrap/scss/bootstrap-grid.scss';
// @import 'libraries/bootstrap/scss/bootstrap-utilities.scss';


// === Base === //

// typography
body, p {
  font-family: font(primary);
}

h1, h2, h3, h4, h5, h6 {
  font-family: font(secondary);
  //"Changa One", sans-serif;
}

a {
  color: inherit;
}




// === Layouts === //
@import './layouts/section';


// @import 'layouts/card';
// .card {
//   // display: flex;
//   // flex-direction: column;
//   position: relative;
//   overflow: hidden;
//   min-width: 0;

//   &__background {
//     position: absolute;
//     top: 0; right: 0; bottom: 0; left: 0;
//   }
//   &__content {

//   }

//   &--border {
//     border: .1rem solid inherit;
//   }
//   &--round {
//     border-radius: 1rem;
//   }
// }




// === Components === //
@import './components/navbar';











// === Pages === //



/** TODO
 * Card Object
 * Button Object
 * Social Component
 * 
 * Redo Utilities
 */


